= simple_form_for @monster do |f|
  = f.input :name
  = f.input :picture, accept: 'image/jpeg,image/gif,image/png'
  = f.input :sizeTypeAlignment
  = f.input :armorClass
  = f.input :hitPointsAndDice
  = f.input :speed
  = f.input :strength
  = f.input :dexterity
  = f.input :constitution
  = f.input :intelligence
  = f.input :wisdom
  = f.input :charisma
  = f.input :skills
  = f.input :damageImmunities
  = f.input :conditionImmunities
  = f.input :senses
  = f.input :languages
  = f.input :challenge
  %div
    %h3 Traits
    #traits
      = f.simple_fields_for :traits do |trait|
        = render 'trait_fields', f: trait
      .links
        = link_to_add_association 'Add trait', f, :traits
  = f.button :submit
