<%= form_with(model: monster, local: true) do |f| %>
  <%= render 'shared/error_messages', object: monster %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :monster_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>

  <div class="field">
    <%= f.label :hitPoints %>
    <%= f.number_field :hitPoints, id: :monster_hitPoints, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :damage %>
    <%= f.number_field :damage, id: :monster_damage, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
