= simple_form_for @monster do |f|
  = f.input :name
  = f.input :picture, accept: 'image/jpeg,image/gif,image/png'
  = f.input :size
  = f.input :type
  = f.input :alignment
  = f.input :armorClass
  = f.input :armorSource
  = f.input :hitPoints
  = f.input :hitDice
  = f.input :speed
  = f.input :strength
  = f.input :dexterity
  = f.input :constitution
  = f.input :intelligence
  = f.input :wisdom
  = f.input :charisma
  = f.input :savingThrows
  = f.input :skills
  = f.input :damageVulnerabilities
  = f.input :damageResistances
  = f.input :damageImmunities
  = f.input :conditionImmunities
  = f.input :senses
  = f.input :languages
  = f.input :challenge
  %div
    %h3 Traits
    #traits
      = f.simple_fields_for :traits do |trait|
        = render 'trait_fields', f: trait
      .links
        = link_to_add_association "Add trait", f, :traits
  %div
    %h3 Actions
    #actions
      = f.simple_fields_for :actions do |action|
        = render 'action_fields', f: action
      .links
        = link_to_add_association "Add action", f, :actions
  %div
    %h3 Reactions
    #reactions
      = f.simple_fields_for :reactions do |reaction|
        = render 'reaction_fields', f: reaction
      .links
        = link_to_add_association "Add reaction", f, :reactions

  = f.button :submit, class: 'btn-primary'
