%p#notice= notice
%h1 Monsters
%table.monster-list
  %thead
    %tr
      %th Name
      %th Type
      %th Challenge
      %th Author
  %tbody
    - @monsters.each do |monster|
      %tr
        %td= link_to monster.name, monster
        %td= monster.type
        %td= monster.challenge
        %td= monster.user&.username
%br/
= link_to 'Create Monster', new_monster_path, class: "btn btn-primary"
