%p#notice= notice
%p.monster-name
  %strong Name:
  = @monster.name
%p
  %strong Hitpoints:
  = @monster.hitPointsAndDice
%h3 Traits
%ul
  = render @monster.traits
%h3 Actions
%ul
  = render @monster.actions
= link_to 'Edit', edit_monster_path(@monster)
|
= link_to 'Back', monsters_path
