<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>

<p>
  <strong>Hitpoints:</strong>
  <%= @monster.hitPoints %>
</p>

<p>
  <strong>Damage:</strong>
  <%= @monster.damage %>
</p>

<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
