%stat-block
  %creature-heading
    %h1= @monster.name
    %h3= "#{@monster.size} #{@monster.type}, #{@monster.alignment}"
  %top-stats
    %property-line
      %h4 Armor Class
      %p= "#{@monster.armorClass} (#{@monster.armorSource})"
    %property-line
      %h4 Hit Points
      %p= @monster.hitPointsAndDice
    %property-line
      %h4 Speed
      %p= @monster.speed

    %table
      %tr
        %th Strength
        %th Dexterity
        %th Constitution
        %th Intelligence
        %th Wisdom
        %th Charisma
      %tr
        %td= @monster.strength
        %td= @monster.dexterity
        %td= @monster.constitution
        %td= @monster.intelligence
        %td= @monster.wisdom
        %td= @monster.charisma

    %property-line
      %h4 Saving Throws
      %p= @monster.savingThrows
    %property-line
      %h4 Skills
      %p= @monster.skills
    %property-line
      %h4 Damage Vulnerabilities
      %p= @monster.damageVulnerabilities
    %property-line
      %h4 Damage Resistances
      %p= @monster.damageResistances
    %property-line
      %h4 Damage Immunities
      %p= @monster.damageImmunities
    %property-line
      %h4 Condition Immunities
      %p= @monster.conditionImmunities
    %property-line
      %h4 Senses
      %p= @monster.senses
    %property-line
      %h4 Languages
      %p= @monster.languages
    %property-line
      %h4 Challenge
      %p= @monster.challenge

  = render @monster.traits

  %h3 Actions
  = render @monster.actions

  %h3 Reactions
  = render @monster.reactions


= link_to 'Edit', edit_monster_path(@monster)
|
= link_to 'Back', monsters_path
