<p id="notice"><%= notice %></p>

<p class="monster-name">
  <strong>Name:</strong>
  <%= @monster.name %>
</p>

<p>
  <strong>Hitpoints:</strong>
  <%= @monster.hitPointsAndDice %>
</p>

<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
